= simple_form_for(@applicant) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :contact
    = f.input :status
    = f.input :salary
    = render 'shared/skill_fields', object: @applicant

  .form-actions
    = f.button :submit
