%h1 Listing applicants

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Name
      %th Contact
      %th Status
      %th Salary
      %th Skills
      %th
      %th
      %th

  %tbody
    - @applicants.each do |applicant|
      %tr
        %td= applicant.name
        %td= applicant.contact
        %td= applicant.status
        %td= applicant.salary
        %td= applicant.skill_names
        %td= link_to 'Show', applicant
        %td= link_to 'Edit', edit_applicant_path(applicant)
        %td= link_to 'Destroy', applicant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Applicant', new_applicant_path
