= simple_form_for(@vacancy) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :created_date
    = f.input :validity
    = f.input :salary
    = f.input :contact
    %div
      = f.fields_for :skills do |builder|
        = render 'skill_fields', :f => builder
      %p= link_to_add_fields "Add skill", f, :skills, "btn btn-primary"
  .form-actions
    = f.button :submit
